@model PuntosColombia.Web.Data.Entities.MissingNumber

@{
    ViewData["Title"] = "Create";
}

<h2>Search</h2>

<h4>Missing Numbers</h4>
<label style="color:red;font-size:larger;">@ViewBag.Message</label>  
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuantityListA" class="control-label"></label>
                <input asp-for="QuantityListA" class="form-control" />
                <span asp-validation-for="QuantityListA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListA" class="control-label"></label>
                <input asp-for="ListA" class="form-control" />
                <span asp-validation-for="ListA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityListB" class="control-label"></label>
                <input asp-for="QuantityListB" class="form-control" />
                <span asp-validation-for="QuantityListB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListB" class="control-label"></label>
                <input asp-for="ListB" class="form-control" />
                <span asp-validation-for="ListB" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="ListResult" class="control-label"></label>
                    <input asp-for="ListResult" class="form-control" />
                    <span asp-validation-for="ListResult" class="text-danger"></span>
                </div>*@
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
